/* Header CSS */

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 6rem;
    background-color: hsl(198, 55%, 75%);
    border-bottom: 1px solid black;
}


/* Header Logo CSS */

.header-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vh;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
}

.header-logo{
    width: 5.5rem;
    margin-right: -1rem;
}

.header-logo-text{
    width: 9rem;
}

.header-logo-container:hover{
    transform: scale(1.06);
}


/* Header Buttons CSS */

.header-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 5vw;
    gap: 2.3vw;
}

.header-contact-us-button, .header-learn-more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: black;
    background: hsl(198, 55%, 75%);
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.header-contact-us-button:hover, .learn-more-button:hover{
    color: #0f0f0f;
    transform: translateY(-2px) scale(1.03);
}

.header-my-games-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6vw 1.6vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    color: black;
    background-color: hsl(198, 55%, 75%);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.header-my-games-button:hover{
    color: white;
    background-color: hsl(198, 65%, 60%);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.header-profile-container{
    display: inline-block;
    position: relative;
}

.header-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6vw;
    height: 3.6vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: cover;
}

.header-profile:hover{
    border-color: hsl(198, 70%, 55%);
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header-profile-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    padding: 0.4vw 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-profile-dropdown-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 2vw;
    gap: 0.5vw;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header-profile-dropdown-button.sign-out{
    margin-left: 0.2vw;
    color: red;
}

.header-profile-dropdown-button:hover {
    background-color: #f0f0f0;
}

.header-profile-dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
}

.header-profile-dropdown-divider{
    width: 100%;
    height: 1px;
    background-color: #a8a8a8;
    border-radius: 1px;
}

.header-sign-in-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2.2vw;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: black;
    background: hsl(198, 55%, 75%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.header-sign-in-button:hover{
    color: #0f0f0f;
    transform: translateY(-2px) scale(1.03);
}

