/* Main CSS */

.s-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    padding-top: 6rem;
    overflow-y: hidden;
}


/* Toast Warning CSS */

.s-toast-warning{
    margin-top: 3rem;
    margin-bottom: 0;
}


/* Game Title & Info CSS*/

.s-game-name-text{
    display: block;
    font-size: clamp(1rem, calc(100vw / 50), 3rem);
    max-width: 60rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 0.5rem;
}

.s-race-to-text{
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    color: rgb(170, 0, 0);
}

.s-remaining-balls-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 0;
    color: #0077cc;
}

.s-remaining-balls-style{
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    word-spacing: 2px;
    margin: 0;
}

.s-rack-number{
    font-size: 20px;
}

.s-to-shoot-text{
    font-size: 1.25rem;
    margin: 0;
}


/* Divider CSS */

.s-tracker-divider-css{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 2rem;
}


/* Player Stats CSS */

.s-player-container{
    color: black;
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    gap: 6rem;
    align-items: flex-end;
    justify-content: flex-end;
}

.s-player1-container, .s-player2-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.s-player1-name, .s-player2-name{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Exo 2';
    letter-spacing: 2px;
    margin: 1rem 0;
}

.s-player1-foul, .s-player2-foul{
    display: grid;
    justify-content: center;
    font-size: 1.2rem;
}

.s-score-container{
    display: grid;
    grid-template-columns: auto max-content auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.s-increment-container{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
}

.s-decrement-button, .s-increment-button{
    display: flex;
    height: 85px;
    width: 85px;
    border: 1px solid black;
    border-radius: 43px;
    font-size: 25px;
    background-color:antiquewhite;
    color: rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.s-decrement-button:hover, .s-increment-button:hover{
    border: 1px solid black;
    background-color: rgb(240, 228, 212);
    box-shadow: 0 0 5px rgb(234, 205, 167);
    transition: 0.3s ease;
}

.s-decrement-button:focus, .s-increment-button:focus{
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 5px rgb(234, 205, 167);
}

.s-decrement-button:active, .s-increment-button:active{
    box-shadow: inset 3px 3px 5px rgb(234, 204, 164);
    background-color: rgb(242, 224, 200);;
    top: 5px;
    left: 5px;
    border: 1px solid black;
    transition: 0ms;
}

.s-player1-score{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 125px;
    color: hsl(6, 93%, 71%);
}

.s-player2-score{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 125px;
    color: hsl(250, 100%, 65%);
}

.s-run-text{
    margin-top: 1rem;
    font-size: 25px;
    font-family: 'exo 2';
    text-align: center;
}


/* Arrow Image CSS */

.remaining-turn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-container{
  margin-bottom: 5vh;
}

.arrow-image-style{
  width: 150px;
  display: block;
  margin: auto;
}

.player-turn-text-style{
  font-family: 'Exo 2';
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.player-swap-text-container{
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.player-swap-text-style{
  font-family: 'Exo 2';
  text-align: center;
  font-size: 1.3rem;
}

.player-swap-spacebar-text-style{
  font-family: 'Exo 2';
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}


@media (max-width: 768px){
    .s-page-container{
        min-height: calc(100vh - 4rem);
        padding-top: 4rem;
    }
}